
			
			<div class="row center">
				<div class="grid_12 left">
					About me:
						<p style="text-align: left">I've got two wonderful kids: Perla (age {{ perlasAge }}) and Julian (age {{juliansAge}}). When I'm not busy with them, I enjoy being outdoors, listening to music, getting tattoos and driving nice trucks. I also love to write good code. More about me <a href="#">here</a>.</p>

				</div>
			</div>
			<div class="row center">
				<div class="grid_12 left section">
					Recent Projects:
						<ul>
							<li>Project: <a href="#">Lowes Refresh</a></li>
							<li>Technologies: AngularJS, NodeJS, Electron, MySQL</li>
						</ul>
					
				</div>
			</div>
			<div class="row center">
				<div class="grid_12 left">
					Social:
						<ul>
							<li><a href="https://twitter.com/eric_gehrman"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://github.com/dupridog"><i class="fa fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/eric-gehrman"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					
				</div>
			</div>			